@model DMACC.CIS174.Web.Models.CreateStudentModel

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>
    <div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.StudentName)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.StudentName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Height)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Height)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Weight)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Weight)
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
    </body>
</html>
